.cards{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
}
.card1{
    width: 320px;
    height: 400px;
    overflow: hidden;
    margin-left: 55px;
    border-radius: 20px;
}
.card1 > img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card1 > .desc{
    margin-top: 20px;
    width: 300px;
    margin-left: 25px;
    color: #58402F;
}
.card1 > .date{
    margin-left: 25px;
    color: #58402F;

}
