.main{
    width: 100%;
    height: 100vh;
    background: #104CB0;
    display: block;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.nav{
    width: 87%;
    height: 130px;
    /* background: red;  */
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.nav > .logo{
    width: 175px;
    height: 50%;
}
.header{
    color: white;
    padding-left: 95px;    
    display: block;
}
.header > h1{
    font-size: 60px;
    width: 400px;
    line-height: 1.5;
    font-weight: 600;
}
.header > p{
    width: 450px;
    line-height: 1.7;
}
.btn{
    background: #10A7B0;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    margin-top: 40px;
    transition: .4s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    background: white;    
}
.btn > a{
    color: white;
    text-decoration: none;
}
.btn:hover > a{
    color: #000;
}
.rectangle{
    width: 155px;
    height: 370px;
    background: #E5C932;
    margin-left: 510px;
    margin-top: -324px;
}
.imgs{
    width: 50%;
    background: #000;
    margin-left: 50%;
    margin-top: -60.4%;
    cursor: pointer;
}
.imgs > .img1{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.imgs > .img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-top: 374px;
    margin-left: -380px;
}
.img > img{
    width: 100%;
}
.imgs img{
    transition: .5s;
}
.imgs img:hover{
    -webkit-box-shadow: 0px 0px 76px 31px #104CB0;
    -moz-box-shadow: 0px 0px 76px 31px #104CB0;
    box-shadow: 0px 0px 76px 31px #104CB0;
    /* transform: scale(1.1); */
    
}