.main{
    width: 50%;
    height: 100vh;
    background: #104CB0;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.nav{
    width: 87%;
    height: 130px;
    /* background: red;  */
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.nav > .logo{
    width: 175px;
    height: 50%;
}
.header{
    color: white;
    padding-left: 95px;    
    display: block;
}
.header > h1{
    font-size: 60px;
    width: 400px;
    line-height: 1.5;
    font-weight: 600;
}
.header > p{
    width: 450px;
    line-height: 1.7;
}
.btn{
    background: #10A7B0;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    margin-top: 40px;
    transition: .4s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    background: white;    
}
.btn > a{
    color: white;
    text-decoration: none;
}
.btn:hover > a{
    color: #000;
}
.rectangle{
    width: 155px;
    height: 370px;
    background: #E5C932;
    margin-left: 520px;
    margin-top: -324px;
}
